/* Tablet */

@media(max-width:992px){

.main-content{

    margin-left:0;

}

.sidebar{

    left:-270px;

}

}

/* Mobile */

@media(max-width:768px){

.content-area{

    padding:20px;

}

}

@media(max-width:1200px){

    .kpi-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .kpi-grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:992px){

    .chart-grid{

        grid-template-columns:1fr;

    }

}