<nav class="navbar-custom">

    <!-- Left Side -->
    <div class="navbar-left">

        <button class="menu-toggle" id="menuToggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Search bookings, vehicles..."
            >
        </div>

    </div>

    <!-- Right Side -->
    <div class="navbar-right">
            <!-- Notification -->
            <div class="notification-icon">

                <button class="notification-btn">

                    <i class="fa-regular fa-bell"></i>

                </button>

            </div>

        <!-- Profile -->
        <div class="profile-menu">

            <div class="profile-avatar">
                {{ request.user.username|first|upper }}
            </div>

            <div class="profile-info">

                <strong>{{ request.user.username }}</strong>

                {% if request.user.is_authenticated and request.user.profile %}
                    <small>{{ request.user.profile.role }}</small>
                {% else %}
                    <small>User</small>
                {% endif %}

            </div>

        </div>

    </div>

</nav>