<div class="sidebar">

    <!-- ========================= -->
    <!-- Logo -->
    <!-- ========================= -->
    <div class="logo-section">

        <i class="fa-solid fa-bus-simple"></i>

        <div>
            <h4>Smart Bus</h4>
            <small>Charter System</small>
        </div>

    </div>

    <!-- ========================= -->
    <!-- Navigation -->
    <!-- ========================= -->

    <div class="menu-title">
        MAIN
    </div>

    <ul class="sidebar-menu">

        <li class="active">
            <a href="{% url 'dashboard' %}">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Bookings</span>
            </a>
        </li>

    </ul>

    <div class="menu-title">
        MANAGEMENT
    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="#">
                <i class="fa-solid fa-bus"></i>
                <span>Vehicles</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-id-card"></i>
                <span>Drivers</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-gas-pump"></i>
                <span>Fuel</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span>Maintenance</span>
            </a>
        </li>

    </ul>

    <div class="menu-title">
        BUSINESS
    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="#">
                <i class="fa-solid fa-credit-card"></i>
                <span>Payments</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-chart-line"></i>
                <span>Analytics</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-robot"></i>
                <span>AI Prediction</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-file-lines"></i>
                <span>Reports</span>
            </a>
        </li>

    </ul>

    <div class="menu-title">
        SYSTEM
    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="#">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
            </a>
        </li>

    </ul>

    <div class="logout-section">

        <a href="{% url 'logout' %}">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>

    </div>

</div>